name: Flutter webapp CI/CD

env:
  # This image name MUST matches the one in your docker-compose.yml
  IMAGE_NAME: ghcr.io/alostoraapp/alostora_panel:latest

  WORK_DIR : /overview/webapp
  PROJECT_NAME : ${{ github.event.repository.name }}
  REPOSITORY: git@github.com:${{github.repository}}.git

on:
  push:
    branches: [ master ]

jobs:
  Build-and-Push:
    runs-on: ubuntu-latest
    permissions:
      # This is correct for using a PAT
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        # This step checks out your code, including the 'build/web' folder

      - name: Log in to GitHub Container Registry using PAT
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          # This correctly points to the new Dockerfile in the root
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  Deploy:
    needs: Build-and-Push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            mkdir -p ${{env.WORK_DIR}}
            cd ${{env.WORK_DIR}}
            
            if [ ! -d "${{env.PROJECT_NAME}}/.git" ]; then
              rm -rf ${{env.PROJECT_NAME}}
              git clone -b master ${{env.REPOSITORY}} ${{env.PROJECT_NAME}}
              cd ${{env.PROJECT_NAME}}
            else
              cd ${{env.PROJECT_NAME}}
              git checkout master
              git pull origin master
            fi
            
            echo "------------- Logging in to GHCR on server using PAT -------------"
            echo "${{ secrets.GH_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            echo "------------- Pulling the latest image -------------"
            docker pull ${{ env.IMAGE_NAME }}
            
            echo "------------- Removing old volume/container -------------"
            docker volume rm -f alostora_panel_admin_panel || true
            docker rm -f admin_panel || true
            
            echo "------------- Starting container with new image -------------"
            # We use --no-build because the image is pre-built
            docker compose -f docker-compose.yml up -d --force-recreate --no-build
            
            echo "------------- Pruning old images/containers -------------"
            docker container prune --force
            docker image prune -a --force
            docker volume prune --force