name: Flutter webapp CI/CD


env:
  REPOSITORY: git@github.com:${{github.repository}}.git
  PROJECT_NAME : ${{ github.event.repository.name }}
  WORK_DIR : /home/webapp
  DOCKER_HUB_URL : docker.io


on:
  push:
    branches: [ master ]


jobs:
  Clone:
    runs-on: ubuntu-latest
    steps:
    - name: Clone
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          mkdir -p ${{env.WORK_DIR}}
          cd ${{env.WORK_DIR}}
          rm -r ${{env.PROJECT_NAME}}
          git clone -b web ${{env.REPOSITORY}}
          cd ${{env.PROJECT_NAME}}
          git checkout web
          git status

  Build:
    needs: Clone
    runs-on: ubuntu-latest
    steps:
    - name: Build
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd ${{env.WORK_DIR}}/${{env.PROJECT_NAME}}

          echo " ------------- docker build image -------------"
          docker compose build --pull 
          

  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    steps:
    - name: Build
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd ${{env.WORK_DIR}}/${{env.PROJECT_NAME}}
          
          echo "------------- Stopping admin_panel container -------------"
          docker rm -f admin_panel || true  # Stop the container if it's running

          echo "------------- Removing old frontend files from volume -------------"
          docker volume rm -f alostora_panel_admin_panel

          echo "------------- docker up webapp container --------------"
          docker compose -f docker-compose.yml up -d --force-recreate --no-build  # Recreate the container with updated volume

          echo "------------- docker prune old images ---------------"
          docker container prune --force
          docker image prune --force
          docker volume prune --force

          echo "------------- docker restart -----------------"
          docker restart $(docker ps -q)